<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/apexcharts@3.28.3/dist/apexcharts.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/apexcharts@3.28.3/dist/apexcharts.min.css">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="icon" type="image/png" href="./assets/img/logos/logoTest5.png">
  <link rel="apple-touch-icon" sizes="76x76" href="./assets/img/apple-icon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-slider/10.0.0/css/bootstrap-slider.css" />
        
  <title>
   Synergy
  </title>
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
  <!-- Nucleo Icons -->
  <link href="./assets/css/nucleo-icons.css" rel="stylesheet" />
  <link href="./assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- Font Awesome Icons -->
  <script src="https://kit.fontawesome.com/42d5adcbca.js" crossorigin="anonymous"></script>
  <link href="./assets/css/nucleo-svg.css" rel="stylesheet" />
  <!-- CSS Files -->
  <link id="pagestyle" href="./assets/css/argon-dashboard.css?v=2.0.4" rel="stylesheet" />
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <title>Ajax Example</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    
    
    <!-- websocket script -->
    <!-- sockjs -->
   <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
  <style>
		/*  폰트 */
  		@font-face {
		    font-family: 'IAMAPLAYER';
		    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2') format('woff2');
		    font-weight: normal;
		    font-style: normal;
		 }
  
     	 .chart-container {
           position: relative;
           display: flex;
           flex-direction: column;
         }
         
         .chart {
           height: 250px; /* Adjust height as needed */
         }
         
         .candlestick-and-line {
           position: relative;
           flex: 1;
         }
         /* 즐겨찾기 */
         .vertical-forms form {
		   display: block;
		   margin-bottom: 10px;
		 }
		 
		#ethInput, #bchInput, #btcInput, #bnbInput, #solInput, #ltcInput:focus { outline: none; }
		
		
		#ethInput, #bchInput, #btcInput, #bnbInput, #ltcInput, #solInput {
		  font-size: 15px;
		  color: #222222;
		  width: 190px;
		  border: none;
		  border-bottom: solid #aaaaaa 1px;
		  padding-bottom: 10px;
		  padding-left: 10px;
		  position: relative;
		  background: none;
		  z-index: 5;
		  font-family: 'IAMAPLAYER';
		}
		
		input[type=checkbox], input[type=radio]{
		    margin: 4px 0 0;
		    margin-top: 1px\9;
		    line-height: normal;
		    margin-left: 20px;
		}
		
		.jujin{
		  background-color: #25316D;
		  
		}
		.checkbox{
		  accent-color: red;
		}
		.large-numbers{
		  counter-reset:li; /* Initiate a counter */
		  margin-left:0; /* Remove the default left margin */
		  padding-left:0; /* Remove the default left padding */
		  line-height: 1.25;
		}
		
		.large-numbers > table{
		  position:relative; /* Create a positioning context */
		  list-style:none; /* Disable the normal item numbering */
		  margin: 1rem 0 1rem 2rem;
		  padding: 0 0 0 1rem;
		  font-size: 21px;
		  font-family: 'IAMAPLAYER';
		}
		
		hr[role="tournament3"] {
		    border: 0px solid;
		    height: 1px;
		    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(172, 131, 83, 0.75), rgba(0, 0, 0, 0));
		    margin: 32px 0px;
		    display: block;
		}
		hr[role="tournament3"]::before {
		    position: absolute;
		    background-color: #efefef;
		    border: 10px solid #AC8353;
		    border-top: 10px solid transparent;
		    border-radius: 2px;
		    padding: 0px;
		    transform: rotate(180deg);
		    left: 50%;
		    margin: -5px 0px 0px -21px;
		    content: "";
		}
         
         
         #volumeChart {
           height: 100px; /* Adjust height of the volume chart */
         }
         
         #lineChart {
           position: absolute;
           top: 0;
           left: 0;
           right: 0;
           bottom: 0;
         }
     #lineChart .apexcharts-yaxis {
        opacity: 0;
      }
       .positive-change {
            color: green;
            font-weight: bold;
        }
        .negative-change {
            color: red;
            font-weight: bold;
        }
        ::placeholder {
            font-size: 14px; 
       }
       .fa-search {
          font-size: 20px; 
      }
      .fa-user {
          font-size: 17px; 
      }
      .fa-cog {
          font-size: 17px; 
      }
      .fa-bell {
         font-size : 17px
      }
      #doyeon:hover {
         transform: rotate( 720deg );
      }
      #heechan{
         all: unset;
      }
      #heechan:hover{
         background-color:#002ead;
            transition: 0.7s;
      }
      .icon {
           font-size: 40px;
      }
      .nav-link-text {
        font-size: 15px;
      }
      
   </style>


<script>
        function comma(str) {
            str = String(str);
            return str.replace(/(\d)(?=(?:\d{3})+(?!\d))/g, '$1,');
        }
        function setUpbitData() {
            $.ajax({
                url: "https://api.upbit.com/v1/market/all",
                dataType: "json"
            }).done(function (markets) {
                let arr_krw_markets = "";
                let arr_korean_name = [];
                for (var i = 0; i < markets.length; i++) {
                    if (markets[i].market.indexOf("KRW") > -1) {
                        arr_krw_markets += markets[i].market + (",");
                        arr_korean_name.push(markets[i].korean_name.replace("코인", ""));
                    }
                }
                arr_krw_markets = arr_krw_markets.substring(0, arr_krw_markets.length - 1);
                $.ajax({
                    url: "https://api.upbit.com/v1/ticker?markets=" + arr_krw_markets,
                    dataType: "json"
                }).done(function (tickers) {
                    $("#table_ticker > tbody > tr").remove();
                    for (let i = 0; i < tickers.length; i++) {
                     let rowHtml = "<tr>";
                     rowHtml += "<td>" + arr_korean_name[i].replace("코인", "").replace("토큰", "") + "</td>";
                      rowHtml += "<td>" + comma(tickers[i].trade_price) + "</td>";
                      let changeRate = (tickers[i].signed_change_rate * 100).toFixed(2);
                      let changeClass = changeRate >= 0 ? "positive-change" : "negative-change";
                      let changeText = changeRate >= 0 ? "+" + changeRate : changeRate;
                      rowHtml += "<td class='" + changeClass + "'>" + changeText + "</td>";
                      rowHtml += "</tr>";
                      $("#table_ticker > tbody:last").append(rowHtml);
                    }
                })
            })
                .fail(function () {
                    $("#tmp").text("API 접근 중 에러.");
                })
            setTimeout(setUpbitData, 3000);
        }
        $(function () {
            setUpbitData();
        });
    </script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/apexcharts/3.36.0/apexcharts.min.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var socket = new WebSocket('wss://stream.binance.com:9443/ws');
    var intervalId; // 변수 선언

    // WebSocket 연결이 열렸을 때 실행되는 콜백 함수
    socket.onopen = function() {
      console.log('WebSocket connection opened');

      // Subscribe to the desired topic
      var subscribeMessage = JSON.stringify({
        method: 'SUBSCRIBE',
        params: ['bnbusdt@kline_5m', 'btcusdt@kline_5m', 'ethusdt@kline_5m','solusdt@kline_1m','bchusdt@kline_1m','ltcusdt@kline_1m'],
        id: 1
      });
      socket.send(subscribeMessage);

      // 5분마다 데이터 요청
      intervalId = setInterval(function() {
        socket.send(subscribeMessage);
      }, 5 * 60 * 1000); // 5분(밀리초 단위)
    };

    // Function to animate price updates
    function animatePriceUpdate(element, newPrice) {
      var prevPrice = parseFloat(element.dataset.prevPrice);
      var startTime = null;
      var duration = 1000; // Animation duration in milliseconds (adjust as needed)

      function updateStep(timestamp) {
        if (!startTime) startTime = timestamp;
        var progress = timestamp - startTime;
        var change = newPrice - prevPrice;
        var updatedPrice = prevPrice + (change * progress) / duration;

        // Stop animation when duration is reached
        if (progress < duration) {
          element.innerHTML = updatedPrice.toFixed(2) + '<span class="text-m font-weight-bolder"> (' + (change > 0 ? '+' : '') + change.toFixed(2) + ')</span>';
          element.style.color = change > 0 ? 'green' : 'red';
          requestAnimationFrame(updateStep);
        } else {
          element.innerHTML = newPrice.toFixed(2);
          element.style.color = '#000000';
        }
      }

      requestAnimationFrame(updateStep);
    }

    // WebSocket 메시지 수신 이벤트 처리
    socket.onmessage = function(event) {
      var message = JSON.parse(event.data);
      if (message && message.s && message.k) {
        var symbol = message.s;
        var highPrice = message.k.h;
        var lowPrice = message.k.l;

        // Symbol에 따라 적절한 요소에 데이터를 보여줌
        var symbolElement, priceElement;
        if (symbol === "ETHUSDT") {
          symbolElement = document.querySelector('.symbol1');
          priceElement = document.querySelector('.price1');
        } else if (symbol === "BCHUSDT") {
          symbol = "BCHUSDT"; // ADA -> Bitcoin Cash로 변경
          symbolElement = document.querySelector('.symbol2');
          priceElement = document.querySelector('.price2');
        } else if (symbol === "BTCUSDT") {
          symbol = "BTCUSDT"; 
          symbolElement = document.querySelector('.symbol3');
          priceElement = document.querySelector('.price3');
        } else if (symbol === "BNBUSDT") {
          symbolElement = document.querySelector('.symbol4');
          priceElement = document.querySelector('.price4');
        } else if (symbol === "SOLUSDT") {
          symbolElement = document.querySelector('.symbol5');
          priceElement = document.querySelector('.price5');
        } else if (symbol === "LTCUSDT") {
          symbol = "LTCUSDT"; // Matic -> Litecoin으로 변경
          symbolElement = document.querySelector('.symbol6');
          priceElement = document.querySelector('.price6');
        }

        if (symbolElement && priceElement) {
          symbolElement.textContent = symbol.replace('USDT', '/USDT');
          var prevPrice = parseFloat(priceElement.dataset.prevPrice);
          var change = parseFloat(highPrice) - prevPrice;

          // 이전 값과 비교하여 데이터 값이 증가했을 때에는 특정 색상 적용
          if (change > 0) {
            animatePriceUpdate(priceElement, parseFloat(highPrice));
          } else if (change < 0) {
            animatePriceUpdate(priceElement, parseFloat(highPrice));
          } else {
            priceElement.innerHTML = parseFloat(highPrice).toFixed(2);
            priceElement.style.color = '#000000'; // 동일한 경우의 색상
          }

          // 현재 가격을 다음에 사용하기 위해 데이터 속성에 저장
          priceElement.dataset.prevPrice = highPrice;
        } else {
          console.error('요소를 찾을 수 없습니다.');
        }
      }
    };

    // WebSocket 연결이 닫혔을 때 실행되는 콜백 함수
    socket.onclose = function() {
      console.log('WebSocket connection closed');

      // Interval 해제
      clearInterval(intervalId);
    };

    // WebSocket 에러가 발생했을 때 실행되는 콜백 함수
    socket.onerror = function(error) {
      console.error('WebSocket Error:', error);

      // Interval 해제
      clearInterval(intervalId);
    };
  });
</script>
<script>

function changeStarColor(event) {
     var starIcon = event.target;
     if (starIcon.style.color === "rgb(128, 128, 128)") {
       starIcon.style.color = "#f8e40d"; // 노란색
     } else {
       starIcon.style.color = "#808080"; // 회색
     }
   }

</script>
    
<script>
  function setFavoriteCookie(color) {
    document.cookie = "favoriteColor=" + color + "; path=/";
  }
</script>
    
<script>
  function changeStarColor(event) {
    // 기존 색상 읽어오기
    var favoriteColor = getCookie("favoriteColor");

    // 색상 변경 로직
    var currentColor = event.target.style.color;
    if (currentColor === "rgb(128, 128, 128)") {
      event.target.style.color = favoriteColor || "#FFD700"; // 기본 색상은 노란색(#FFD700)
      setFavoriteCookie(event.target.style.color);
    } else {
      event.target.style.color = "#808080"; // 회색으로 변경
      setFavoriteCookie(event.target.style.color);
    }
  }

  // 쿠키 읽어오는 함수
  function getCookie(name) {
    var value = "; " + document.cookie;
    var parts = value.split("; " + name + "=");
    if (parts.length === 2) return parts.pop().split(";").shift();
  }
</script>

    
</head>

<body class="g-sidenav-show   bg-gray-100">

   
   
   
  <div class="min-height-200 bg-primary position-absolute w-100"></div>
  <aside class="sidenav bg-white navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-4 " id="sidenav-main">
    <div class="sidenav-header">
      <a class="navbar-brand m-0"  href="http://localhost:8098/" target="_blank">
        <div style="width:20px;">
        <img style="width:30px; height:30px;" src="assets/img/logos/logoTest5.png" id="doyeon" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold text-3xl">Synergy</span>
        </div>
      </a>
    </div>
    <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
      <ul class="navbar-nav" style="width:180px">
        <li class="nav-item">
          <a class="nav-link active" >
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-tv-2 text-primary text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1">Dashboard</span>
          </a>
        </li>
       
        <li class="nav-item mt-3">
          <h6 class="ps-4 ms-2 text-uppercase text-xs font-weight-bolder opacity-6">Account pages</h6>
        </li>
        
        <li class="nav-item">
          <a class="nav-link "  th:attr="href=|${user != null ? '/' : 'signIn'}|">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-single-copy-04 text-warning text-sm opacity-10"></i>
            </div>
            <span th:if="${user != null}" class="nav-link-text ms-1 text-xl" >log out</span>
         <span th:unless="${user != null}" class="nav-link-text ms-1 text-xl" >Sign in</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="signUp">
            <div class="icon icon-shape icon-sm border-radius-md text-center me-2 d-flex align-items-center justify-content-center">
              <i class="ni ni-collection text-info text-sm opacity-10"></i>
            </div>
            <span class="nav-link-text ms-1 text-xl">Sign Up</span>
          </a>
        </li>
        
      </ul>
    </div>
    
  </aside>
  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl " id="navbarBlur" data-scroll="false">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-white" style="font-size:15px"  href="javascript:;">Pages</a></li>
          </ol>
          <h6 class="font-weight-bolder text-white mb-0" style="font-size:15px">Dashboard</h6>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            <div style="display: flex; align-items: center;">
            <form action="search" method="POST" id="searchForm">
              <div class="dropdown">
			  <button style="width:120px; margin-top:0px; margin-right:10px" class="btn btn-secondary dropdown-toggle " type="button" data-bs-toggle="dropdown" aria-expanded="false">
			    종목 선택
			  </button>
			  <ul class="dropdown-menu" style="width:120px">
			    <li align=center id= "ethItem"><a class="dropdown-item" data-value="ETH">ETH</a></li>
			    <li align=center id= "bchItem"><a class="dropdown-item" data-value="BCH">BCH</a></li>
			    <li align=center id= "btcItem"><a class="dropdown-item" data-value="BTC">BTC</a></li>
			    <li align=center><a class="dropdown-item" data-value="BNB">BNB</a></li>
			    <li align=center><a class="dropdown-item" data-value="SOL">SOL</a></li>
			    <li align=center><a class="dropdown-item" data-value="LTC">LTC</a></li>
			  </ul>
			</div>
			  <input type="hidden" name="search" id="selectedData">
				
            </form>
		</div> 
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a class="nav-link text-white font-weight-bold px-0 " th:attr="href=|${user != null ? '/' : 'signIn'}|">
                <i class="fa fa-user me-sm-1"></i>
                <span th:if="${user != null}" class="d-sm-inline" style="font-size:13px">log out</span>
            <span th:unless="${user != null}" class="d-sm-inline" style="font-size:13px">Sign in</span>
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                  <i class="sidenav-toggler-line bg-white"></i>
                </div>
              </a>
            </li>
           <li th:if="${user == null}" th:remove="tag" class="nav-item px-3 d-flex align-items-center">
            <li th:unless="${user == null}" class="nav-item px-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-white p-0 nav-link text-white font-weight-bold px-0" onclick="myAlarm()">
               <img class="fixed-plugin-button-nav cursor-pointer" area-hidden="true" style="width:30px; height: 30px;" src="assets/img/logos/bookmark.png"/>
               <span class="d-sm-inline" style="font-size:13px">favorite</span>            
                 <span id="user" style="display: none;" th:text="${user}"></span>
              </a>
            </li>
            </li> 
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
   <!-- 1~6위 종목들 -->
    
    
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4" style="height: 150px;">
          <div class="card">
         <div class="card-body p-3">
           <div class="row">
             <div class="col-8">
               <div class="numbers">
                 <h5 class="font-weight-bolder">
                   <form action='favorite' method='post'>
                    <input type='hidden' name='ccd' value='ETHUSDT'>  <!-- 종목id -->
                   <!--
                   <button type='submit' class='btn btn' id='heechan'><i class='fas fa-star' style='color: #808080;' onclick='changeStarColor(event)'></i></button>
                    -->
                   <span class="symbol1"></span>
                 </form>
                 </h5>
                 <p class="mb-0">
                   <span class=" text-2xl font-weight-bolder price1"></span>
                  <span class="text-m font-weight-bolder"></span>
                   <br>
                 </p>
               </div>
             </div>
             <div class="col-4 text-end">
               <div style="width: 20px; height: 20px;">
                 <img class ="rounded-4" src="https://s3-symbol-logo.tradingview.com/crypto/XTVCETH.svg" width="50" height="50" >
               </div>
             </div>
           </div>
         </div>
          </div>
        </div>
        
        <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4" style="height: 150px;">
          <div class="card">
            <div class="card-body p-3">
           <div class="row">
             <div class="col-8">
               <div class="numbers">
                 <h5 class="font-weight-bolder">
                   <form action='favorite' method='post'>
                    <input type='hidden' name='ccd' value='BCHUSDT'>  <!-- 종목id -->
                  <!--
                   <button type='submit' class='btn btn' id='heechan'><i class='fas fa-star' style='color: #808080;' onclick='changeStarColor(event)'></i></button>
                    -->
                   <span class="symbol2"></span>
                   </form>
                 </h5>
                 <p class="mb-0">
                   <span class=" text-2xl font-weight-bolder price2"></span>
                    <span class="text-m font-weight-bolder"></span>
                   <br>
                 </p>
               </div>
             </div>
             <div class="col-4 text-end">
               <div style="width: 50px; height: 50px;">
                 <img class = "rounded-4" src="https://s3-symbol-logo.tradingview.com/crypto/XTVCBCH.svg" width="50" height="50">
               </div>
             </div>
           </div>
         </div>
          </div>
        </div>

        <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4" style="height: 150px;">
          <div class="card">
            <div class="card-body p-3">
           <div class="row">
             <div class="col-8">
               <div class="numbers">
                 <h5 class="font-weight-bolder">
                   <form action='favorite' method='post'>
                    <input type='hidden' name='ccd' value='BTCUSDT'>  <!-- 종목id -->
                   <!--
                   <button type='submit' class='btn btn' id='heechan'><i class='fas fa-star' style='color: #808080;' onclick='changeStarColor(event)'></i></button>
                    -->
                   <span class="symbol3"></span>
                   </form>
                 </h5>
                 <p class="mb-0">
                   <span class=" text-2xl font-weight-bolder price3"></span>
                    <span class="text-m font-weight-bolder"></span>
                   <br>
                 </p>
               </div>
             </div>
             <div class="col-4 text-end">
               <div style="width: 50px; height: 50px;">
                 <img class = "rounded-4" src="https://s3-symbol-logo.tradingview.com/crypto/XTVCBTC.svg" width="50" height="50">
               </div>
             </div>
           </div>
         </div>
          </div>
        </div>

        <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4" style="height: 150px;">
          <div class="card">
            <div class="card-body p-3">
           <div class="row">
             <div class="col-8">
               <div class="numbers">
                 <h5 class="font-weight-bolder">
                   <form action='favorite' method='post'>
                    <input type='hidden' name='ccd' value='BNBUSDT'>  <!-- 종목id -->
                   <!--
                   <button type='submit' class='btn btn' id='heechan'><i class='fas fa-star' style='color: #808080;' onclick='changeStarColor(event)'></i></button>
                    -->
                   <span class="symbol4"></span>
                   </form>
                 </h5>
                 <p class="mb-0">
                   <span class=" text-2xl font-weight-bolder price4"></span>
                    <span class="text-m font-weight-bolder"></span>
                   <br>
                 </p>
               </div>
             </div>
             <div class="col-4 text-end">
               <div style="width: 50px; height: 50px;">
                 <img class = "rounded-4" src="https://s3-symbol-logo.tradingview.com/crypto/XTVCBNB.svg" width="50" height="50">
               </div>
             </div>
           </div>
         </div>
          </div>
        </div>

        <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4" style="height: 150px;">
          <div class="card">
            <div class="card-body p-3">
           <div class="row">
             <div class="col-8">
               <div class="numbers">
                 <h5 class="font-weight-bolder">
                   <form action='favorite' method='post'>
                    <input type='hidden' name='ccd' value='SOLUSDT'>  <!-- 종목id -->
                   <!--
                   <button type='submit' class='btn btn' id='heechan'><i class='fas fa-star' style='color: #808080;' onclick='changeStarColor(event)'></i></button>
                    -->
                   <span class="symbol5"></span>
                   </form>
                 </h5>
                 <p class="mb-0">
                   <span class=" text-2xl font-weight-bolder price5"></span>
                    <span class="text-m font-weight-bolder"></span>
                   <br>
                 </p>
               </div>
             </div>
             <div class="col-4 text-end">
               <div style="width: 50px; height: 50px;">
                 <img class="rounded-4" src="https://s3-symbol-logo.tradingview.com/crypto/XTVCSOL.svg" width="50" height="50">
               </div>
             </div>
           </div>
         </div>
          </div>
        </div>
        
        <div class="col-xl-2 col-sm-6 mb-xl-0 mb-4" style="height: 150px;">
          <div class="card">
            <div class="card-body p-3">
           <div class="row">
             <div class="col-8">
               <div class="numbers">
                 <h5 class="font-weight-bolder">
                   <form action='favorite' method='post'>
                    <input type='hidden' name='ccd' value='LTCUSDT'>  <!-- 종목id -->
                   <!--
                   <button type='submit' class='btn btn' id='heechan'><i class='fas fa-star' style='color: #808080;' onclick='changeStarColor(event)'></i></button>
                    -->
                   <span class="symbol6"></span>
                   </form>
                 </h5>
                 <p class="mb-0">
                   <span class=" text-2xl font-weight-bolder price6"></span>
                    <span class="text-m font-weight-bolder"></span>
                   <br>
                 </p>
               </div>
             </div>
             <div class="col-4 text-end">
               <div style="width: 50px; height: 50px;">
                 <img class ="rounded-4" src="https://s3-symbol-logo.tradingview.com/crypto/XTVCLTC.svg" width="50" height="50">
               </div>
             </div>
           </div>
         </div>
          </div>
        </div>

      </div>


      
      <div class="row mt-4" style="height: 600px;">

        <div class="col-lg-9 mb-lg-0 mb-4">
          <div class="card z-index-2 h-100">
            <div class="card-header pb-0 pt-3 bg-transparent">
              <h4 class="text-capitalize">암호화폐 실시간차트</h4>
            </div>
            <div class="card-body p-3">
              <div class="chart-container">
              <div class="candlestick-and-line">
                <div id="combinedChart" class="chart"></div>
              </div>
              <div id="volumeChart" class="chart"></div>
           </div>
           <!-- srcData가 null인 경우에만 script가 나오게 코드 변경 -->
           <script src="./assets/js/plugins/chart-script.js"></script>
           
            </div>
          </div>
        </div>

        <!-- 즐겨찾기 -->
         <div class="col-lg-3 mb-lg-0 mb-4" style="height: 300px;">
                    <div class="card">
                        <div class="card-header pb-0 p-3 ">
                                <h4 class="mb-2 text-center">💸 원화</h4>
                        </div>
                        <div id='tmp' style="color:pink; overflow: scroll; height: 300px;">
                      
                      <table id="table_ticker" class="table table-hover text-center" style= "font-size: 13px;">
                          <thead>
                              <tr>
                                  <td>종목명</td>
                                  <td>현재가</td>
                                  <td>전일대비</td>
                              </tr>
                          </thead>
                          <tbody>
                          </tbody>
                      </table>
                      <br /><br /><br />
                      <div id='tmp2'>
                  
                      </div>
                    </div>
            </div>
                    <br>
  
          <!-- 뉴스 -->
           <div class="card-header pb-0 p-3 px-0">
                        <div class="card">
                            <div class="card-header pb-0 p-3" style="height:275px">
                                <h4 class=text-center>📰 뉴스</h4>
                                <div style="height: 240px; overflow-y: scroll;">
                                    <table class="table table-striped text-lg">
                                        <tbody>
                                            <tr th:each="news, iterStat : ${newsList}">
                                                <td>
                                                    <div class="news-item">
                                                        <a th:href="${news.newsUrl}" th:text="${news.newsTitle}" target="_blank"></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
               
             </div>
           </div>
         
        
      

      <footer class="footer pt-3  ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-start">
                <script>
                </script>,
              </div>
            </div>
            <div class="col-lg-6">
              <ul class="nav nav-footer justify-content-center justify-content-lg-end">
                <li class="nav-item">
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                </li>
                <li class="nav-item">
                </li>
              </ul>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </main>
  <!-- 즐겨찾기탭 -->
         <div class="fixed-plugin">
         
              
          </a>
          <!-- 즐겨찾기탭 -->
             <div class="card shadow-lg">
                 <div class="card-header pb-0 pt-3">
                     <div class="float-start">
                         <h5 class="mt-3 mb-0">즐겨찾기</h5>
                     </div>
                     <div class="float-end mt-4">
                         <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
                             <i class="fa fa-close"></i>
                         </button>
                     </div>
                 </div>
                 <div class="d-flex my-3 container">
                     <!-- Use 'container' class instead of 'my-container' -->
	                 <div class="vertical-forms">
	                 <form action="/addAlarm" method="post">
	                    <div class="card-body p-3 my-child"><img class="rounded-4" style="width:20px; height:20px; margin-right:10px;" alt="ETH" src="https://s3-symbol-logo.tradingview.com/crypto/XTVCETH.svg"><span class="button-text" style="padding-right: 10px;">ETH/USDT</span>
	                    <input id="ethInput" type="number" name="price" placeholder="예약값을 입력하세요">
	                    <input  type="hidden" name="ccd" value="ETH/USDT">
	                    <button class="jujin btn btn-info" type="submit" style="margin-left:2.3px;">알림</button> </div>
	                  </form>
	                  <br>
	                  <form action="/addAlarm" method="post">
	                    <div class="card-body p-3 my-child"><img class="rounded-4" style="width:20px; height:20px; margin-right:10px;" alt="ETH" src="https://s3-symbol-logo.tradingview.com/crypto/XTVCBCH.svg"><span class="button-text" style="padding-right: 10px;">BCH/USDT</span>
	                    <input id="bchInput" type="number" name="price" placeholder="예약값을 입력하세요"> 
	                    <input  type="hidden" name="ccd" value="BCH/USDT">
	                    <button class="jujin btn btn-info" type="submit">알림</button> </div>
	                   </form>
	                   <br>
	                   <form action="/addAlarm" method="post">
	                    <div class="card-body p-3 my-child"><img class="rounded-4" style="width:20px; height:20px; margin-right:10px;" alt="ETH" src="https://s3-symbol-logo.tradingview.com/crypto/XTVCBTC.svg"><span class="button-text" style="padding-right: 10px;">BTC/USDT</span>
	                    <input id="btcInput" type="number" name="price" placeholder="예약값을 입력하세요"> 
	                    <input  type="hidden" name="ccd" value="BTC/USDT">
	                    <button class="jujin btn btn-info" type="submit" style="margin-left:3.2px;">알림</button> </div>
	                  </form>
	                  <br>
	                  <form action="/addAlarm" method="post">
	                    <div class="card-body p-3 my-child"><img class="rounded-4" style="width:20px; height:20px; margin-right:10px;" alt="ETH" src="https://s3-symbol-logo.tradingview.com/crypto/XTVCBNB.svg"><span class="button-text" style="padding-right: 10px;">BNB/USDT</span>
	                    <input id="bnbInput" type="number" name="price" placeholder="예약값을 입력하세요"> 
	                    <input  type="hidden" name="ccd" value="BNB/USDT">
	                    <button class="jujin btn btn-info" type="submit">알림</button> </div>
	                  </form>
	                  <br>
	                  <form action="/addAlarm" method="post">
	                    <div class="card-body p-3 my-child"><img class="rounded-4" style="width:20px; height:20px; margin-right:10px;" alt="ETH" src="https://s3-symbol-logo.tradingview.com/crypto/XTVCSOL.svg"><span class="button-text" style="padding-right: 10px;">SOL/USDT</span>
	                    <input id="solInput" type="number" name="price" placeholder="예약값을 입력하세요"> 
	                    <input  type="hidden" name="ccd" value="SOL/USDT">
	                    <button class="jujin btn btn-info" type="submit" style="margin-left:2px;">알림</button> </div>
	                  </form>
	                  <br>
	                  <form action="/addAlarm" method="post">
	                    <div class="card-body p-3 my-child"><img class="rounded-4" style="width:20px; height:20px; margin-right:10px;" alt="ETH" src="https://s3-symbol-logo.tradingview.com/crypto/XTVCLTC.svg"><span class="button-text" style="padding-right: 10px;">LTC/USDT</span>
	                    <input id="ltcInput" type="number" name="price" placeholder="예약값을 입력하세요" > 
	                    <input  type="hidden" name="ccd" value="LTC/USDT">
	                    <button class="jujin btn btn-info" type="submit" style="margin-left:3.5px;">알림</button> </div>
	                </form>
                 </div>
                </div>
                 <hr class="horizontal dark my-sm-4" role="tournament3">
                 <div class="mt-2 mb-5 d-flex flex-column" id="movedDivContainer">
					<!-- 알림목록 불러오기 -->
               <!-- 여기에 알림 목록이 출력될 영역을 만듭니다. -->
               <p><span>즐겨찾기 목록</span><span ><button class="btn btn-danger" style="margin-left: 240px;">Delete</button></span></p>
                 <ul class="large-numbers" id="notificationList"></ul> 
                 
                 </div>
                 
             </div>
         </div>
 
  <!--   Core JS Files   -->
  <script src="./assets/js/core/popper.min.js"></script>
  <script src="./assets/js/core/bootstrap.min.js"></script>
  <script src="./assets/js/plugins/perfect-scrollbar.min.js"></script>
  <script src="./assets/js/plugins/smooth-scrollbar.min.js"></script>
  <script src="./assets/js/plugins/chartjs.min.js"></script>
  <script>
	  var combinedChartContainer = document.getElementById("combinedChart");
	  var volumeChartContainer = document.getElementById("volumeChart");
	
	  // combinedChartContainer와 volumeChartContainer가 있는 경우 차트를 삭제합니다.
	  if (combinedChartContainer) {
	      combinedChartContainer.innerHTML = "";
	  }
	
	  if (volumeChartContainer) {
	      volumeChartContainer.innerHTML = "";
	  }
  </script>
  <script th:src = '${srcData}'></script>
<!-- 뉴스검색 -->
<script>
$(document).ready(function() {
  // 드롭다운 메뉴의 항목 클릭 시 이벤트 처리
  $(".dropdown-item").on("click", function() {
    // 클릭한 항목의 텍스트 값을 추출하여 hidden input에 저장
    var selectedData = $(this).attr("data-value");
	$("#selectedData").val(selectedData);
    // 검색 폼 제출
   $("#searchForm").submit();
  });
});
</script>

 <!-- 알림 목록 -->
<script>
function myAlarm() {
  // JavaScript로 'user' 값을 가져옵니다.
  var user = document.getElementById("user").innerText;
   console.log('user>>',user);
  
  // 'uid' 값을 추출하기 위한 정규식을 사용합니다.
  var uidPattern = /uid=(\w+)/;    //  /uid=u_id (\d+)/;
  var match = user.match(uidPattern);

  // 'uid' 값을 가져옵니다.
  if (match && match[1]) {
    var uid = match[1];
    console.log('uid>>',uid);

    // 여기서부터는 Ajax 요청을 보내는 코드입니다.
    $.ajax({
      url: "http://localhost:8098/alarm",
      method: "GET",
      dataType: "json",
      data: {uid : uid.toString()},
      success: function (res) {
        console.log('결과값>>', res);
        // 알림 목록을 가져와서 처리하는 로직을 여기에 작성
        if (Array.isArray(res)) {
            console.log('알림 목록:');
            var notificationList = document.getElementById("notificationList");

            // 기존에 있던 목록들을 모두 제거합니다.
            notificationList.innerHTML = '';

         // 테이블 생성
            var table = document.createElement("table");
            table.className = "large-numbers"; // 클래스 추가 (optional)

            // 알림 목록을 순회하면서 새로운 행을 생성하여 테이블에 추가합니다.
            res.forEach(function(notification) {
              var row = document.createElement("tr");

              // 'ccd' 데이터 열 생성
              var ccdCell = document.createElement("td");
              ccdCell.textContent = notification.ccd;

              // 'price' 데이터 열 생성
              var priceCell = document.createElement("td");
              priceCell.textContent = notification.price;

              // 체크박스 열 생성
              var checkboxCell = document.createElement("td");
              var checkbox = document.createElement("input");
              checkbox.type = "checkbox";
              // 이곳에 체크박스와 연결할 기능이 있다면 추가해줄 수 있습니다.
              checkboxCell.appendChild(checkbox);
              // checkbox에 클래스 추가
              checkbox.classList.add("checkbox");

              // 각 열을 행에 추가합니다.
              row.appendChild(ccdCell);
              row.appendChild(priceCell);
              row.appendChild(checkboxCell);

              // 행을 테이블에 추가합니다.
              table.appendChild(row);
            });

            // 테이블을 목록에 추가합니다.
            notificationList.appendChild(table);
          } 
        
        
      },
      error: function () {
        console.log('실패!!!ㅜ ㅜ');
      }
    });
  }
}

</script>



<!-- 새로고침 키다운 
<script>
function NotReload(){
    if( (event.ctrlKey == true && (event.keyCode == 78 || event.keyCode == 82)) || (event.keyCode == 116) ) {
        event.keyCode = 0;
        event.cancelBubble = true;
        event.returnValue = false;
    } 
}
document.onkeydown = NotReload;
</script>
-->
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="./assets/js/argon-dashboard.min.js?v=2.0.4"></script>
</body>

</html>